body
{
   background-color: #303030;
   color: #ffffff;
   font-family: 'Lato', sans-serif;
   font-size:20px;
}
#container{
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   
}
.rectangle {
   width: 960px;
   margin: 20px;
   text-align: center;
   
}
.square {
   width: 50%;
   float: left;
}

#logo {
   float: left;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 50px;
   width: 600px;
   text-align: left;
}
#zegar {
   float: left;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 50px;
   margin-top:10px;
   margin-bottom: 10px;
}
.tile1{
   margin: 10px;
   width: 230px;
   height: 142px;
   background-color: #3095d3;
   float: left;
   text-align: center;    
}
.tile1:hover
{
   background-color: #2084c2;
}
.tile2{
   margin: 10px;
   width: 230px;
   height: 142px;
   background-color: #d95333;
   float: left;
   text-align: center;
   
}
.tile2:hover
{
   background-color: #c84222;
   
}
.tile3{
   margin: 10px;
   width: 230px;
   height: 142px;
   background-color: #93c748;
   float: left;
   text-align: center;
   
}
.tile3:hover
{
   background-color: #82b637;
   
}
.tile4{
   margin: 10px;
   width: 480px;
   height: 142px;
   background-color: orchid;
   text-align: center;
 
}
.tile4:hover
{
   background-color: mediumorchid;
   
}
.tile5{
   margin: 10px;
   width: 450px;
   height: 244px;
   background-color: lightsteelblue;
   text-align: justify;
   padding: 30px;
   overflow-x: hidden;
   
}
.tile5:hover
{
   background-color: steelblue;
   
}
.tile6
{
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   width: 510px;
   height: 142px;
   background-color: yellow;
   text-align: center;
   font-size: 25px;
   line-height: 150%; 

}
   
a.tilelink
   {
      color: #ffffff;
      text-decoration: none;
      display: block;
      width: 230px;
      height: 142px;
   }
a.tilelink2
{
      color: #ffffff;
      text-decoration: none;
      display: block;
      width: 480px;
      height: 142px;
}
a.tilelinkhtml5
   {
      color: #ffffff;
      text-decoration: none;
      
   }
.foto 
{
   width: 150px;
   height: auto;
   margin: 2px;
   float: left;
}
